<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>TicketBox</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TicketBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="select-seats" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">좌석을 선택하시고 예약 버튼을 클릭해주세요.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="seats-list"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">예약</button>
        </div>
      </div>
    </div>
  </div>

  <!-- contents -->
  <div id="container">
  </div>

  <!-- templates -->
  <script id="nav-template" type="text/x-handlebars-template">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{#ifEquals current 'time-table'}}active{{/ifEquals}}">
        <a class="nav-link" href="#" data-page="time-table">Time Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#ifEquals current 'my-page'}}active{{/ifEquals}} disabled" href="#" data-page="my-page">My Page</a>
      </li>
    </ul>
  </script>

  <script id="time-table-template" type="text/x-handlebars-template">
    <ul>
      {{#each movies}}
        <li>
          <h5>{{title}}</h5>
          <ul class="plays clearfix">
            {{#each plays}}
              <li>
                <p><small>{{screen.name}} - 총 {{screen.numberOfSeats}}석</small></p>
                <button class="reserve-play" data-toggle="modal" data-target="#select-seats" data-play="{{id}}">{{start}}</button>
              </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </script>

  <script id="seats-template" type="text/x-handlebars-template">
    <ul>
      {{#each seats}}
        {{#if available}}
          <li class="seat-available"><input type="checkbox" data-no="{{no}}"/>{{no}}</li>
        {{else}}
          <li class="seat-reserved"><input type="checkbox" data-no="{{no}}" disabled />{{no}}</li>
        {{/if}}
      {{/each}}
    </ul>
  </script>

  <script id="my-page-template" type="text/x-handlebars-template">
    <h4>{{username}} 님의 예매 내역</h4>
    {{#if isEmpty}}
      <p>예매 내역이 없습니다.</p>
    {{else}}
      <ul>
        {{#each reservations}}
          <li>
            <p>{{movie.title}} - {{play.screen.name}} ({{play.start}})</p>
            {{#each seats}} {{this}}번 {{/each}} 좌석
            <button class="cancel-reservation" data-reservation="{{id}}">취소</button>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </script>

  <!-- scripts -->
  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-125096416-Y', 'auto'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
